{% extends 'base.html' %}
{% block content %}
    <div style="border: 1px solid rgb(211, 211, 211); border-radius: 15px; box-shadow: 0 5px 20px 0 rgba(165, 165, 165, 0.2), 0 6px 10px rgba(179, 179, 179, 0.19);" class="col-md-6 offset-md-3">
        <div style="padding: 40px;" class="main-content">
            <legend class="border-bottom mb-4" style="font-size: 1.7rem; font-weight: 500;">Add New Record</legend>
            <form method="POST" >
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row mt-4">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-warning">Update Record</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock content %}